<html>
  <head>
    <meta name="description" content="Wiki-Game">
    <link rel="stylesheet" type="text/css" href="/assets/css/loader.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/icons.css">
    <title>Wiki-Game</title>
  </head>
  <body>
    <div id="app" />
    <script type="text/javascript" src="http://localhost:3000/webpack-dev-server.js"></script>
    <script type="text/javascript" src="http://localhost:3000/src/assets/js/app.entry.js"></script>
    <!--<script type="text/javascript" src="/assets/js/app.entry.js"></script>-->
  </body>
</html>