.content-panel {
  background-color: #fff;
  flex: 1;

  .wiki {
    font-family: "Linux Libertine",Georgia,Times,serif;
    width: 100%;
    max-width: 980px;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;

    .article-title {
      font-size: 1.7em;
      text-align: center;
      padding-bottom: 10px;
    }

    .loader-container {
      margin: 0 auto;
    }

    .section {
      font-size: 1.5em;
      padding: 10px 0;
    }

    .link {
      color: #0645ad;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}