@import 'variables';
@import 'partial';

.content-panel {
  background-color: #fff;
  flex: 1;
  margin-left: 200px;
  margin-top: 100px;


  .wiki {
    font-family: "Linux Libertine",Georgia,Times,serif;
    padding: 10px;
    margin: 0 auto;
    max-width: 880px;
    align-items: center;
    height: 100%;


    //loading stuff
    .loader-container {
      display: flex;
      flex-direction: column;
      height: 70%;
      justify-content: center;
      text-align: center;
      position: relative;

      .loader-message-title {
        margin: 5px 0;
        font-size: 2em;
      }
      .loader-message {
        font-size: 0.9em;
        color: $grey;
      }
      .loader-text-h1 {
        font-size: 1em;
        height: 1em;
        margin: 5px 0;
      }
      .loader-text-h2 {
        font-size: 0.8em;
        height: 1em;
        color: $grey;
      }
      .choose-button {
        margin: 10px 0;
      }
    }

    //loaded stuff
    .article-title {
      font-size: 2em;
      text-align: center;
      padding-bottom: 10px;
    }

    .search-bar {
      margin: 5px 0;
      position: relative;

      .icon-filter {
        position: absolute;
        font-size: 2em;
        top: 15px;
        left: 12px;
        color: #ccc;

        &.active {
          color: #56A5DD;
        }
      }
      
      input {
        border: 1px solid #ccc;
        appearance: none;
        box-shadow: none;
        border-radius: 4px;
        width: 100%;
        font-size: 2em;
        padding: 10px 10px 10px 60px;

        &:focus {
          outline: none;
          border: 1px solid #56A5DD;
        }
      } 
    }

    .link {
      color: #56A5DD;
      margin: 10px;
      padding: 5px;
      float: left;
      font-size: 2em;
      border-radius: 4px;
      border: 1px #ccc solid;
      background-color: #fff;

      &:hover {
        cursor: pointer;
        color: #0645ad;
        border: 1px #0645ad solid;
      }
    }
  }
}