.content-panel {
  background-color: #fff;
  flex: 1;

  .wiki {
    font-family: "Linux Libertine",Georgia,Times,serif;
    width: 100%;
    max-width: 980px;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;

    .section {
      font-size: 1.5em;
      padding: 10px 0;
    }

    .link {
      color: red;
    }
  }
}