@import 'variables';

.sidebar {
  width: 200px;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background: $primary;
  z-index: 2;
}

.history-panel {
  width: 200px;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 150px;
  position: absolute;
  background: $primary;
  z-index: -1;

  .timeline {
    margin-left: 15px;
    z-index: 1;

    &:before {
      content: " ";
      position: absolute;
    }

    &:after {
      top: 25px;
      left: 20px;
      margin-left: 9px;
      width: 6px;
      height: 100%;
      background: $white;
      z-index: -2;
      content: " ";
      position: absolute;
    }

    ul {
      list-style: none;
      font-family: "Linux Libertine",Georgia,Times,serif;
      color: $white;

      li {
        padding: 5px 0;
        &:before {
          content: " ";
          position: absolute;
          margin-left: -29px;
          margin-top: 4px;
          width: 12px;
          height: 12px;
          background: $white;
          border-radius: 50%;
        }
        &:last-child {
          font-size: 20px;

          &:before {
            background: $secondary;
          }
        }
        &:hover {
          cursor: pointer;
          color: $secondary;
        }
      }
    }
  }
}