.score-panel {
  background: #56A5DD;
  width: 100%;
  font-family: "Linux Libertine",Georgia,Times,serif;
  position: fixed;
  z-index: 3;
  display: flex;

  .logo-wrap {
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    .logo {
      border-radius: 50%;
      background-color: #fff;
      border: #56A5DD solid 2px;
      color: #56A5DD;
      width: 50px;
      height: 50px;
      i.wiki {
        position: absolute;
        top: .6em;
        left: .7em;
        &:before {
          font-family: Times New Roman,Times,serif;
          font-weight: 400;
          font-style: normal;
          font-size: 30px;
          content: "VV";
          letter-spacing: -.45em;
          margin-right: .5em;
        }
      }
    }
  }

  .wrapper {
    width: 80%;
    margin-left: 100px;
    display: flex;
    align-items: center;
    padding: 10px 0;

    .topic {
      flex: 1;
      padding: 7px 0;

      &.right {
        text-align: right;
      }
      .topic-title {
        font-size: 25px;
        color: #fff;
      }

      .pending-text {
        width: 20px;
        height: 20px;
        background: #56A5DD url(/assets/img/ajax-loader.gif) no-repeat center center;
      }
    }


    .move-counter {
      width: 10%;
      text-align: center;

      .moves {
        font-size: 32px;
        color: #fff;
      }

      .moves-title {
        text-align: center;
        display: inline-block;
        color: #fff;
      }
    }
  }
}