@import 'variables';

.score-panel {
  background: $primary;
  width: 100%;
  font-family: "Linux Libertine",Georgia,Times,serif;
  z-index: 3;
  display: flex;
  height: 100px;
  position: fixed;

  .logo-wrap {
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    .logo {
      border-radius: 50%;
      background-color: $white;
      border: $primary solid 2px;
      color: $primary;
      width: 50px;
      height: 50px;
      cursor: pointer;
      i {
        position: absolute;
        top: .4em;
        left: .4em;
        font-size: 30px;

        &.active {
          color: $secondary;
        }
      }
    }
  }

  .wrapper {
    width: 80%;
    margin-left: 100px;
    display: flex;
    align-items: center;
    padding: 10px 0;

    .topic {
      flex: 1;
      padding: 7px 0;
      position: relative;

      &.right {
        text-align: right;
        cursor: help;
      }
      .topic-title {
        font-size: 25px;
        color: #fff;
      }

      .pending-text {
        width: 20px;
        height: 20px;
        background: $primary url(/assets/img/ajax-loader.gif) no-repeat center center;
      }

      // .summary-popover {
      //   position: absolute;
      //   padding: 5px;
      //   text-align: left;
      //   color: #fff;
      //   background-color: #000;
      // }

      .summary-popover {
        position: absolute;
        top: 50px;
        padding: 10px;
        font-family: sans-serif;
        color: $white;
        font-weight: 100;
        line-height: 1.2em;
        text-align: left;
        background: rgba(0,0,0,0.7);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        &:after {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 0 15px 15px;
          border-color: rgba(0,0,0,0.7) transparent;
          display: block;
          width: 0;
          z-index: 1;
          margin-left: -15px;
          top: -15px;
          left: 92%;
        }
      }

    }


    .move-counter {
      width: 10%;
      text-align: center;

      .moves {
        font-size: 32px;
        color: #fff;
      }

      .moves-title {
        text-align: center;
        display: inline-block;
        color: $white;
      }
    }
  }
}