@import 'variables';
@import 'partial';

.winner{
  flex: 1;
  font-family: sans-serif;
  margin: 50px 0 0 200px;
  padding-top: 50px;
  background-color: $primary;
  color: $white;
  text-align: center;

  .congrats {
    text-align: center;

    .congrats-subtitle {
      font-size: 3.5em;
      padding: 15px 0;
    }

    .congrats-article-title {
      font-size: 3em;
      padding: 15px 0;
    }
    .congrats-h3 {
      font-size: 1.5em;
    }

    .play-again {
      button {
        background-color: $white;
        color : $primary;

        &:hover {
          background-color: $primary-active;
          color: $white;
        }
      }
    }
  }
}